// Imports
@import "./helpers/mixins";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/services";
@import "./layout/accordion";
@import "./layout/contact";
@import "./layout/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-display: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Lato", sans-serif;
}

.visit-button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 5rem;
  font-size: 1rem;
  background: transparent;
  position: relative;
  text-transform: capitalize;
  &:hover {
    border: 1px solid #64b1cc;
    background: #64b1cc;
    transition: all 1s ease-in-out;
  }
}

img {
  width: 100%;
  height: auto;
}

.row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}