@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Praise&display=swap");
button {
  background: none;
  border: none;
}

.header {
  min-height: 100vh;
  width: 100%;
  animation: slider 16s ease-in-out infinite;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../../img/four.jpg);
  background-position: center;
  background-size: cover;
}
.header .outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.header .outer nav {
  min-height: 7vh;
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .outer nav .fa {
  display: none;
  color: #fff;
  cursor: pointer;
}
.header .outer nav .logo {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #fff;
}
.header .outer nav .logo img {
  max-width: 25%;
  height: auto;
  margin-right: 1rem;
}
.header .outer nav .nav-links {
  flex: 1;
  text-align: right;
  transition: all 1s ease-in-out;
}
.header .outer nav .nav-links ul a {
  display: inline-block;
  padding: 2rem 1.5rem;
  color: #fff;
}
.header .outer nav .nav-links ul a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: #64b1cc;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}
.header .outer nav .nav-links ul a:hover::after {
  width: 100%;
}
@media (max-width: 992px) {
  .header .outer nav .logo {
    flex: 0.3;
  }
  .header .outer nav .nav-links {
    position: fixed;
    background: #64b1cc;
    height: 100vh;
    width: 20rem;
    top: 0;
    right: -20rem;
    text-align: left;
    z-index: 2;
  }
  .header .outer nav .nav-links ul {
    padding: 2rem;
  }
  .header .outer nav .nav-links ul a {
    display: block;
  }
  .header .outer nav .fa {
    display: block;
    margin: 1rem;
  }
}
@media (max-width: 578px) {
  .header .outer nav .logo {
    flex: 0.5;
  }
}

@keyframes slider {
  0%, 100% {
    background-image: url(../../img/four.jpg);
  }
  25% {
    background-image: url(../../img/one.jpg);
  }
  50% {
    background-image: url(../../img/two.jpg);
  }
  75% {
    background-image: url(../../img/three.jpg);
  }
}
.description {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.description h1 {
  font-size: 4rem;
  text-transform: capitalize;
}
.description p {
  width: 75%;
  margin: 3rem auto;
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  .description h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 578px) {
  .description p {
    width: 100%;
  }
}
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
.services h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.services p {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.services .row {
  justify-content: space-evenly;
}
.services .row .services-col {
  flex-basis: 45%;
  background-position: center;
  background-size: cover;
  min-height: 75vh;
  border-radius: 1rem;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}
.services .row .services-col:nth-child(1) {
  background-image: url("../../img/investment.jpg");
}
.services .row .services-col:nth-child(2) {
  background-image: url("../../img/retirememt.jpg");
}
.services .row .services-col:nth-child(3) {
  background-image: url("../../img/family.jpg");
}
.services .row .services-col:nth-child(4) {
  background-image: url("../../img/estate.jpg");
}
.services .row .services-col:nth-child(5) {
  background-image: url("../../img/expert.jpg");
}
.services .row .services-col .text-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 1s ease-in-out;
}
.services .row .services-col .text-layer .text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: #fff;
}
.services .row .services-col .text-layer:hover {
  background: rgba(0, 0, 0, 0.5);
}
.services .row .services-col .text-layer:hover .text-box {
  left: 50%;
  opacity: 1;
}

@media (max-width: 768px) {
  p {
    margin-bottom: 2rem;
  }

  .row {
    display: block !important;
  }
  .row .services-col {
    min-height: 50vh !important;
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 578px) {
  .row .services-col {
    margin-bottom: 2rem !important;
  }
}
.faq {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}
.faq h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.faq h2,
.faq p {
  text-align: center;
}
.faq .accordion-box {
  margin: 2rem auto;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #64b1cc;
}
.faq .accordion-box label,
.faq .accordion-box accordion-answer {
  padding: 0.875rem 1.25rem;
}
.faq .accordion-box .accordion-input {
  display: none;
}
.faq .accordion-box .accordion-input:checked ~ .accordion-answer {
  opacity: 1;
  display: block;
}
.faq .accordion-box .accordion-input:checked ~ label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.faq .accordion-box label {
  display: block;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}
.faq .accordion-box label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.4375rem;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}
.faq .accordion-box label:hover {
  background: rgba(0, 0, 0, 0.1);
}
.faq .accordion-box .accordion-answer {
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  line-height: 1.6;
  font-size: 0.85em;
  padding: 2rem;
  display: none;
}
.faq .accordion-box .accordion-answer p {
  margin: 0;
}

@media (max-width: 768px) {
  .faq .accordion-box .accordion-answer {
    padding: 1rem 2rem;
  }
}
.contact-us {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 3rem;
}
.contact-us h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contact-us .row {
  justify-content: space-between;
}
.contact-us .row .contact-col {
  flex-basis: 45%;
}
.contact-us .row .contact-col .contact-box {
  text-align: left;
}
.contact-us .row .contact-col .contact-box h3 {
  margin-bottom: 1rem;
}
.contact-us .row .contact-col input,
.contact-us .row .contact-col textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid #ccc;
  resize: none;
}
.contact-us .row .contact-col button {
  float: left;
  cursor: pointer;
  border: 1px solid #64b1cc;
  color: #64b1cc;
}
.contact-us .row .contact-col button:hover {
  color: white;
}

@media (max-width: 992px) {
  h3,
p {
    text-align: center;
  }

  button {
    width: 100%;
  }
}
.footer {
  min-height: 25vh;
  margin-top: 5rem;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
.footer .footer-left {
  flex: 0.7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
}
.footer .footer-left .footer-left-brand {
  flex: 0.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
}
.footer .footer-left .footer-left-brand h2 {
  color: #fff;
}
.footer .footer-left .footer-left-brand .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.footer .footer-left .footer-left-brand .socials i {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer .footer-left .footer-left-brand .socials i:hover {
  color: #64b1cc;
}
.footer .footer-left .footer-left-menu {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
}
.footer .footer-left .footer-left-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
}
.footer .footer-left .footer-left-menu ul > a {
  color: white;
}
.footer .footer-right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer-right a {
  padding: 1rem;
}
.footer .footer-right span {
  color: #fff;
}

@media (max-width: 992px) {
  .footer {
    min-height: 40vh;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer {
    min-height: 60vh;
    flex-direction: column-reverse;
  }
  .footer .footer-left {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer .footer-right {
    flex-direction: column-reverse;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.visit-button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 5rem;
  font-size: 1rem;
  background: transparent;
  position: relative;
  text-transform: capitalize;
}
.visit-button:hover {
  border: 1px solid #64b1cc;
  background: #64b1cc;
  transition: all 1s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

.row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
