@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Praise&display=swap");
button {
  background: none;
  border: none;
}

.header {
  min-height: 100vh;
  width: 100%;
  animation: slider 16s ease-in-out infinite;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../../img/four.jpg);
  background-position: center;
  background-size: cover;
}
.header .outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.header .outer nav {
  min-height: 7vh;
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .outer nav .fa {
  display: none;
  color: #fff;
  cursor: pointer;
}
.header .outer nav .logo {
  flex: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #fff;
}
.header .outer nav .logo img {
  max-width: 25%;
  height: auto;
  margin-right: 1rem;
}
.header .outer nav .nav-links {
  flex: 1;
  text-align: right;
  transition: all 1s ease-in-out;
}
.header .outer nav .nav-links ul a {
  display: inline-block;
  padding: 2rem 1.5rem;
  color: #fff;
}
.header .outer nav .nav-links ul a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: #64b1cc;
  display: block;
  margin: auto;
  transition: all 0.3s ease;
}
.header .outer nav .nav-links ul a:hover::after {
  width: 100%;
}
@media (max-width: 992px) {
  .header .outer nav .logo {
    flex: 0.3;
  }
  .header .outer nav .nav-links {
    position: absolute;
    background: #64b1cc;
    height: 100vh;
    width: 20rem;
    top: 0;
    right: -20rem;
    text-align: left;
    z-index: 2;
  }
  .header .outer nav .nav-links ul {
    padding: 2rem;
  }
  .header .outer nav .nav-links ul a {
    display: block;
  }
  .header .outer nav .fa {
    display: block;
    margin: 1rem;
  }
}
@media (max-width: 578px) {
  .header .outer nav .logo {
    flex: 0.5;
  }
}

@keyframes slider {
  0%, 100% {
    background-image: url(../../img/four.jpg);
  }
  25% {
    background-image: url(../../img/one.jpg);
  }
  50% {
    background-image: url(../../img/two.jpg);
  }
  75% {
    background-image: url(../../img/three.jpg);
  }
}
.description {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.description h1 {
  font-size: 4rem;
  text-transform: capitalize;
}
.description p {
  width: 75%;
  margin: 3rem auto;
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  .description h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 578px) {
  .description p {
    width: 100%;
  }
}
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}
.services h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.services p {
  padding: 0 2rem;
}
.services .row {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.services .row .services-col {
  flex-basis: 45%;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  border-radius: 1rem;
  margin-bottom: 5rem;
  position: relative;
  overflow: hidden;
}
.services .row .services-col:nth-child(1) {
  background-image: url("../../img/investment.jpg");
}
.services .row .services-col:nth-child(2) {
  background-image: url("../../img/retirememt.jpg");
}
.services .row .services-col:nth-child(3) {
  background-image: url("../../img/family.jpg");
}
.services .row .services-col:nth-child(4) {
  background-image: url("../../img/estate.jpg");
}
.services .row .services-col:nth-child(5) {
  background-image: url("../../img/expert.jpg");
}
.services .row .services-col .text-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 1s ease-in-out;
}
.services .row .services-col .text-layer .text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: #fff;
}
.services .row .services-col .text-layer:hover {
  background: rgba(0, 0, 0, 0.5);
}
.services .row .services-col .text-layer:hover .text-box {
  left: 50%;
  opacity: 1;
}

@media (max-width: 768px) {
  p {
    margin-bottom: 2rem;
  }

  .row {
    display: block !important;
  }
  .row .services-col {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 578px) {
  .row .services-col {
    margin-bottom: 2rem !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.visit-button {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 5rem;
  font-size: 1rem;
  background: transparent;
  position: relative;
  text-transform: capitalize;
}
.visit-button:hover {
  border: 1px solid #64b1cc;
  background: #64b1cc;
  transition: all 1s ease-in-out;
}

img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
