.banner {
  border: 2px solid black;
  min-height: 80vh;
}

// <!-- I added position: absolute; -->
// <!-- This allow me to use left -->
.slider img {
  margin: 15px;
  height: 95%;
  width: 95%;
  border-radius: 5px;
  position: absolute;
}

// <!-- This show the current image with a transition -->
// <!-- It replace the left attribute to 0 and the opacity to 1 -->
.slider img.show {
  opacity: 1;
  left: 0px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

// <!-- This hide the current image with a transition -->
// // <!-- It move the image to the left and the opacity to 0 -->
.slider img.hide {
  left: -1000px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
