// Imports
@import "../helpers/mixins";
@import "../components/navbutton";

// Banner container
.header {
  min-height: 100vh;
  width: 100%;
  animation: slider 16s ease-in-out infinite;
  background-position: center;
  background-size: cover;
  // Layer on top of bg lower opacity darken
  .outer {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    @include flex(column, space-between, none);
    // Navbar
    nav {
      height: 20vh;
      //border: 2px solid white;
      padding: 2% 6%;
      @include flex(row, space-between, center);
      .logo {
        flex: 0.15;
        //border: 2px solid red;
        color: #fff;
        h2 {
          font: {
            family: "Lobster", cursive;
            weight: 700;
          }
        }
        img {
          max-width: max-content;
          height: auto;
          margin-right: 1rem;
        }
      }
      .nav-links {
        flex: 1;
        text-align: right;
        transition: all 1s ease-in-out;

        //border: 2px solid red;
        ul {
          a {
            display: inline-block;
            padding: 0 1.5rem;
            color: #fff;
            font-weight: 700;
            &::after {
              content: "";
              width: 0%;
              height: 0.2rem;
              background: #64b1cc;
              display: block;
              margin: auto;
              transition: all 0.3s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
      .fa {
        display: none;
        color: #fff;
        cursor: pointer;
      }
      input[type="checkbox"] {
        display: none;
      }
      label {
        //border: 2px solid white;
      }
    }
  }
}

// Responsive
@include laptop {
  .header {
    .outer {
      nav {
        .logo {
          flex: .2;
        }
        .nav-links {
          position: fixed;
          background: #64b1cc;
          height: 100vh;
          width: 20rem;
          top: 0;
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
          right: -20rem;
          text-align: left;
          z-index: 1;
          ul {
            padding: 2rem;
            a {
              padding: {
                top: 2rem;
                bottom: 2rem;
              }
              display: block;
            }
          }
        }
        #toggle:checked ~ .nav-links {
          right: 0;
        }
        #toggle:checked ~ .logo {
          border: 1px solid white;
        }
        .fa {
          display: block;
          margin: 1rem;
        }
      }
    }
  }
}

@include mobile {
  .header {
    .outer {
      nav {
        @include mobile {
          .logo {
            flex: 0.3;
          }
        }
      }
    }
  }
}

@keyframes slider {
  0%,
  100% {
    background-image: url(../../img/four.webp);
  }
  25% {
    background-image: url(../../img/seven.webp);
  }
  50% {
    background-image: url(../../img/ten.webp);
  }
  75% {
    background-image: url(../../img/nine.webp);
  }
}
