// Imports
@import "../helpers/mixins";
@import "../helpers/variables";

.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .find-out-more {
    border: 1px solid #64b1cc;
    color: #64b1cc;
    &:hover {
      color: white;
    }
  }
  .row {
    margin-top: 5rem;
    justify-content: space-evenly;

    .services-col {
      @include card-bg;
      flex-basis: 22.5%;
      background-position: center;
      background-size: cover;
      min-height: 75vh;
      border-radius: 0.2rem;
      margin-bottom: 5rem;
      position: relative;
      overflow: hidden;
      .text-layer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: all 1s ease-in-out;
        .text-box {
          height: 100%;
          @include flex(column, space-evenly, center);
          position: absolute;
          left: 0;
          transform: translateX(-50%);
          width: 100%;
          opacity: 0;
          transition: all 1s ease-in-out;
          color: #fff;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.5);
        }
        &:hover .text-box {
          left: 50%;
          opacity: 1;
        }
      }
    }
  }
}

@include laptop {
  .row {
    display: block !important;
    .services-col {
      min-height: 50vh !important;
      margin-bottom: 2rem !important;
    }
  }
}

@include tablet {
  p {
    margin-bottom: 2rem;
  }
}

@include mobile {
  .row {
    .services-col {
      margin-bottom: 2rem !important;
    }
  }
}
